<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= project.name %></title>
    </head>
<body>
    <div>
        <h1><%= project.name %></h1>
        <p>Dimensions: <%= project.width %> x <%= project.height %> stitches</p>
        <img src="<%= project.imageData %>" alt="<%= project.name %>">
    </div>
</body>
</html>